//fonts variables
// $font-main: "Roboto", sans-serif;
// $font-title: "Baloo 2", cursive;
$font-size: 15px;

//size-variables
$mobile-sm: 320px;
$mobile-md: 425px;
$mobile-lg: 576px;
$tablet: 768px;
$desktop-sm: 992px;
$desktop-md: 1024px;
$wide-screen-sm: 1280px;
$wide-screen-md: 1360px;
$wide-screen-lg: 1599px;

//color-variables
// $color-green: #5dba3b;
// $color-blue: #4e51bc;
// $color-orange: #ff8b00;
// $color-red: #ff5157;
// $color-yellow: #ffc000;
// $color-light-blue: #00b5c3;
// $color-pink: #ff56af;
// $color-gray: #d1d1d1;
// $color-black: #000;
// $color-text-accent: #fff;
// $color-text-gray: #333;
