//fonts variables
$font-main: 'Montserrat', sans-serif;
$font-title: 'Anton', sans-serif;
$font-accent: 'Orbitron', sans-serif;
$font-size: 16px;

//size-variables
$mobile-sm: 320px;
$mobile-md: 425px;
$mobile-lg: 576px;
$tablet: 768px;
$desktop-sm: 992px;
$desktop-md: 1024px;
$wide-screen-sm: 1280px;
$wide-screen-md: 1360px;
$wide-screen-lg: 1599px;

//color-variables
$color-accent: #00F0FF;
$brick-gradient: linear-gradient(90.28deg, #00F0FF 13.6%, rgba(255, 255, 255, 0) 99.74%);
$bg-gradient: linear-gradient(89.86deg, #041423 12.38%, #365961 90.38%);
$text-primary: #4d4d4d;
$text-secondary: #ffffff;