.intro {
  margin: 0 20px 60px;
  padding-top: 75px;
  position: relative;

  @include desktop-sm {
    width: 790px;
    margin: 0 auto 60px auto;
  }

  p {
    margin-bottom: 20px;
    margin-top: 0;
    font-family: $font-main;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.625;
    color: #b9c0c4;

    &:first-of-type {
      color: $color-accent;
      font-weight: 500;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
